* {
    margin: 0;
    padding: 0;
}

/*style from header*/

header {
    background-color: #1F2937;
    padding-bottom: 75px;
}

.header-content {
    margin: 0 150px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
}

.big-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.itens {
    margin: 5px;
}

.common-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:visited{
    color: #E5E7EB;
}

.menu-content {
    padding: 45px;
    display: flex;
    justify-content: space-between;
}

p.common-text {
    margin-left: 5px;
}

.btn-sign-up {
    width: 100px;
    background-color: #3882F6;
    padding: 10px;
    margin: 7px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: #E5E7EB;
}

.main-image {
    height: 300px;
    width: auto;
}

/*style from main content*/

main {
    margin-top: 35px;
    margin-bottom: 55px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.places {
    display: flex;
    justify-content: space-around;
}

.places-img {
    text-align: center;
}

.images {
    height: 100px;
    width: auto;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.p-img {
    padding: 2px;
}